@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-height: fit-content;
}

.dashboard {
    display: flex;
}


.dashboard-body .title {
    font-size: 24px;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.dashboard-item-1 {
    display: flex;
}

.dashboard-item-2 {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px 4px #d1e5ff;
    border-radius: 18px;
    margin-left: 5rem;
    margin-top: 3rem;

}

aside {
    display: flex;
}

.side-bar {
    padding-top: 2rem;
    padding-inline: 1rem;
    box-sizing: border-box;
    border-right: solid 1px;
    border-right-color: #b7adad;
}

.side-bar-item {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-inline: 10px;
    gap: 1rem;
    color: #b7adad;
}
.side-bar-item a {
    color: #b7adad;
    align-self: center;
}

.side-bar-item a:hover {
    color: #4799fd;
}

.side-bar-item a:active {
    color: #4799fd !important;
}


.img-logo {
    align-self: center;
}

.card-chart {
    box-shadow: 0 2px 8px 4px #d1e5ff;
    border-radius: 18px;
    margin-left: 5rem;
    margin-top: 3rem;
    height: 18rem;
    width: 38rem;
}

p {
    font-size: 17px;
    margin-left: 2rem;
    padding-block-start: 20px;
}

.card-pie-chart {
    box-shadow: 0 2px 8px 4px #d1e5ff;
    border-radius: 18px;
    margin-inline: 5rem;
    margin-top: 3rem;
    height: 18rem;
    width: 18rem;
}

.table-item{
    padding-inline: 3rem;
}

.search-item-1 {
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    box-shadow: 0 2px 8px 4px #d1e5ff;
    border-radius: 18px;
    padding: 2rem;
    gap: 3rem;

}

.input-group{
    width: 40rem !important;
    border-radius: 15px !important;
}

.form-select{
    width: 15rem !important;
}

.btn-search{
    padding-inline: 3rem !important;
    border-radius: 15px !important;
}

.search {
    display: flex;
    flex-direction: column;
}

.result p{
    font-size: 15px;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}